.flex-box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width:70rem;
    flex-direction: row;
    display: flex;
}
    .flex-box__left{
        display: flex;
        width:35rem;
        flex-direction: column;
    }
    .flex-box__right{
        display: flex;
        width:40rem;
        flex-direction: column;
    }
.circle-svg{
    height:350px;   
    position: relative;
}
    .circle-svg_1{
    display: block;
    margin-left: auto;
    margin-right: auto;   
    position: relative;
}
    .circle-svg_2{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    position: relative;
    top:-200px;
}
    .circle-svg__text{
        padding-left:0%;
        position: relative;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        top:-200px;
    }
        .circle-svg__text_1{
            font-weight:bold;
            font-size: 36px;
        }
        .circle-svg__text_2{
            font-size: 18px;
        }
.container-left{
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#3d6cb0;    
}
.container-right{
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#3d6cb0; 
    margin-bottom: 0.5rem;
}
    .title-left{
        width:5em;
        margin-left: 2%;
        padding-top:20px;              
    }
    .title-right{
        width:6em;
        margin-left: 2%;
        padding-top:20px;              
    }
    
    .profile__text{
        margin-left: auto;
        margin-right: auto; 
        margin-top:2%;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-bottom: 2%;        
    }
        .profile__text_span{
            font-weight:bold;
        }
    .contact__block{ 
        margin-left: auto;
        margin-right: auto; 
        flex-direction: row;
        display: flex;        
    }
        .contact__block_left{
            padding-right:5%; 
            width: 90%;
            position: relative;
            flex-direction: column;
            display: flex; 
        }
        .contact__block_right{
            width: 70%;
            position: relative;
            flex-direction: column;
            display: flex; 
        }
        .contact__block_form1{
            text-align: left;
            color:#3d6cb0; 
            padding-top:5%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        .contact__block_form2{
            text-align: left;
            color:black; 
            padding-top:2.5%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    .skills__block{
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;    
    }
    .class__block_padding{
        padding-right: 0.5rem;
    }
    .education__degree{
        width:26rem;
        font-weight:bold;
        margin-left: auto;
        margin-right: auto;        
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color:#3d6cb0;        
    }
    .education__degree_bigfont{
        margin-left: 24px;
        font-size: 18px; 
        font-weight: lighter;
        color:black;       
    }
    .education__degree_smallfont{
        color:black;
        margin-left: 24px;
        font-weight: lighter;
        font-size: 12px;
    }
    .education__degree span{
        color:black;
        font-weight: lighter;
    }
    .experience__degree{
        width:26rem;
        font-weight:bold;
        margin-left: auto;
        margin-right: auto;        
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color:black;
    }
    .experience__degree_bigfont{
        margin-left: 24px;
        font-size: 18px; 
        font-weight: lighter;
        color:black;       
    }
    .experience__degree_smallfont{
        color:black;
        margin-left: 24px;
        font-weight: lighter;
        font-size: 12px;
    }
    .experience__degree span{
        color:black;
        font-weight: lighter;
    }
    .software__blocks{
        margin-left: auto;
        margin-right: auto; 
        display: flex;
        flex-direction: row;
        position: relative;
    }
        .software__blocks_left{
            margin-left: 2rem;
            margin-right: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        .software__blocks_right{            
            margin-right: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
.title_right{
    width:6rem;
    margin-left: 2%;
    padding-top:20px;              
}

@media all and (max-width: 416px) {
    *{
        margin-left:3%;
        margin-right:3%;
    }
    svg{
        display: none;
    }
    object{
        transform:scale(0.75);
    }
    .flex-box{
        width:100%;
        flex-wrap: wrap;
    }
    .software__blocks{ 
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .software__blocks_left{
        margin-left:0;
        margin-bottom:2rem;  
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .software__blocks_right{     
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        height:30rem; 
    }
    .flex-box__left{
        display: flex;
        width:100%;
        flex-direction: column;
    }
    .flex-box__right{
        display: flex;
        width:100%;
        flex-direction: column;
    }
    .circle-svg__text{
        padding-left:0%;
        position: relative;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        top:-200px;
    }
        .circle-svg__text_1{
            font-weight:bold;
            font-size: 36px;
        }
        .circle-svg__text_2{
            font-size: 18px;
        }
.container-left{ 
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#3d6cb0;    
}
.container-right{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#3d6cb0; 
    margin-bottom: 0.5rem;
}
    .title-left{
        width:5rem;
        margin-left: 2%;
        padding-top:20px;              
    }
    .title-right{
        width:5rem;
        margin-left: 2%;
        padding-top:20px;              
    }
    
    .profile__text{
        margin-left: auto;
        margin-right: auto; 
        margin-top:2%;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-bottom: 2%;        
    }
        .profile__text_span{
            font-weight:bold;
        }
    .contact__block{ 
        margin-left: auto;
        margin-right: auto; 
        flex-direction: row;
        display: flex;        
    }
        .contact__block_left{
            padding-right:5%; 
            width: 90%;
            position: relative;
            flex-direction: column;
            display: flex; 
        }
        .contact__block_right{
            width: 70%;
            position: relative;
            flex-direction: column;
            display: flex; 
        }
        .contact__block_form1{
            text-align: left; 
            padding-top:5%;
            font-size: 20px;
        }
        .contact__block_form2{
            text-align: left;
            padding-top:2.5%;
            font-size: 14px;
        }
    .skills__block{
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align: center;    
    }
    .class__block_padding{
        padding-right: 0.5rem;
    }
    .education__degree{
        width: 100%;
        font-weight:bold;       
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;       
    }
    .education__degree_bigfont{
        font-size: 16px;      
    }
    .education__degree_smallfont{
        font-size: 12px;
    }
    .experience__degree{
        width:100%;
        font-weight:bold;
        margin-left: auto;
        margin-right: auto;        
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color:black;
    }
    .experience__degree_bigfont{
        font-size: 18px;        
    }
    .experience__degree_smallfont{
        font-size: 12px;
    }
    }